@model object
@{
    ViewBag.Title = "type.run";
}

<div class="page-header">
    <h1>type.run</h1>
</div>

<div class="alert alert-success" id="error">Build successful.</div>
<textarea id="code"></textarea>
<div id="result" class="alert alert-info"></div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ts/CodeEditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ts/home/index.js")"></script>
}