<div class="hero-unit overlay-inner">
    <a class="close" href="javascript: $('#help').css('visibility', 'hidden');">&times;</a>
    <h1>help.me</h1>
    <p>
        Quickly hack some csharp code to share or learn.<br />
        The code will be compiled and ran.
    </p>

    <h2>how.to</h2>
    <p>
        Start coding in the editor to start compiling.<br />
        Results or errors are presented in the bottom.
    </p>

    <h2>save.share</h2>
    <p>
        Save your code with Ctrl+S.<br />
        Use the generated link.
    </p>
    <div style="text-align: left">
        uses <a href="http://msdn.microsoft.com/en-us/vstudio/roslyn.aspx" target="_blank">Roslyn</a>, <a href="http://codemirror.net/" target="_blank">CodeMirror</a> and <a href="http://talkslab.github.com/metro-bootstrap/index.html" target="_blank">metro-bootstrap</a>
    </div>
</div>
