<div class="hero-unit overlay-inner">
    <a class="close" href="javascript: $('#shortcut').css('visibility', 'hidden');">&times;</a>
    <h1>keyboard.shortcuts</h1>
    <table class="table" style="width: 40%; margin: 0 auto">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="label label-inverse">F1</span></td>
                <td>Help.</td>
            </tr>
            <tr>
                <td><span class="label label-inverse">F2</span></td>
                <td>Shortcuts.</td>
            </tr>
            <tr>
                <td><span class="label label-inverse">CTRL-S</span></td>
                <td>Save.</td>
            </tr>
            <tr>
                <td><span class="label label-inverse">F6</span></td>
                <td>Recompile.</td>
            </tr>
        </tbody>
    </table>
</div>
