body {
    max-width: 960px;
    min-height: 475px;
    margin: 0 auto;
}

.CodeMirror {
    height: 500px;
    font-family: "Consolas";
}

.footer {
    clear: both;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #EEE;
}

.actions {
    float: right;
}

.overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

.overlay-inner {
    margin: 100px auto;
}
